@font-face {
  font-family: "titulos";
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "texto";
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
} 

body {
  background-color: white;
}

main {
  background-color: white;
}

p {
  font-family: "texto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "titulos", sans-serif;
}

img {
  width: 1200px;
  height: auto;
  border: 3px solid;
}
